.marquee-custom {
    height: 150px;
    width: 2600px;
    @media (min-width: 720px) {
        height: 200px;
    }
    .scroll-menu-items {
        float: left;
        width: 260px;
        height: 150px;
    }
}