.menu-cart {
    height: 40px;
    width: 40px;
    display: inline-block;
    @media (min-width: 720px) {
        width: 66px;
        height: 100px;
    }
}

.cart-value {
    font-size: 33px;
    position: absolute;
    margin-left: 17px;
    transform: rotate(8deg);
    @media (min-width: 720px) {
        margin-left: 50px;
    }
}