.menu-item {
    display: block;
    //border: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    float: left;
    width: 100%;
    height: 150px;
    //background-image: url('../../../../assets/images/burger.jpg');
    background-repeat: no-repeat;
    background-size: 160px 160px;
    background-position: center;
    cursor: pointer;
    @media (min-width: 720px) {
        background-size: auto;
        height: 194px;
    }
    .menu-data {
        padding-top: 35px;
        text-align: center;
        @media (min-width: 720px) {
            padding-top: 70px;
        }
        .menu-name {
            font-size: 35px;
        }
        .menu-item-grey-out {
            //margin: 30px;
            border-radius: 15px;
            background-color: #ffffff;
            //border: 1px solid black;
            opacity: 0.6;
            filter: alpha(opacity=60);
            /* For IE8 and earlier */
        }
    }
}

.menu-item-grey-out {
    //margin: 30px;
    background-color: #ffffff;
    //border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    /* For IE8 and earlier */
}