// .menu-list {
//     width: 100%;
//     position: relative;
//     .menu-table-select {
//         //margin: 30px;
//         background-color: #ffffff;
//         //border: 1px solid black;
//         opacity: 0.6;
//         filter: alpha(opacity=60);
//         position: absolute;
//         top: 0;
//         /* right: 0; */
//         /* bottom: 0; */
//         left: 0;
//         z-index: 10;
//         background-color: rgba(0, 0, 0, 0.7);
//         height: -webkit-fill-available;
//         width: inherit;
//     }
// }
// app-menu-item:nth-child(4n) {
//     border-right: 1px solid black;
// }
.menu-list {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    /*margin-bottom: 50px;*/
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
    app-menu-item {
        text-align: center;
        display: block;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 33.33%;
        flex: 1 0 23.33%;
        /* height: 250px; */
        /* padding: 5px 10px; */
        /* border: 1px solid #d9e1ef; */
        float: left;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
    }
    .menu-table-select {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 5;
        width: 100%;
        height: 100%;
        .title {
            margin-top: 27%;
            padding: 16px;
            background: white;
            margin-right: 20%;
            margin-left: 20%;
            border-radius: 4px;
        }
    }
}