.menu-item {
    display: block;
    border: 2px solid black;
    float: left;
    width: 250px;
    height: 200px;
    .menu-data {
        padding-top: 70px;
        .menu-name {
            font-size: 35px;
        }
    }
}